div#myVizContainer {
  float: right;
  border: 2px;
  padding: 3px;
}

body {
	width: 780px;
	margin: 0 auto;
	font-family: Georgia, Times, serif;
}

a:link {
	color: blue; 
	text-decoration: underline; 
}
a:visited {
	color: blue; 
	text-decoration: underline; 
}
a:hover {
	color: blue; 
	text-decoration: none; 
}
a:active {
	color: red; 
} 

#title p, #title h2 {
	text-align: center;
}

/*font-family: arial, helvetica, sans-serif;*/
/*font-family: Georgia, Times, serif;*/